// Other styles 
.datatable {
    th {
        background-color: #596D78;
        font-size: .9em;
        font-weight: bold;
    }
}
.mat-form-field {
    font-size: 14px;
    width: 100%;
  }
.actions {
    padding: 0px;
    margin: 0px 10px;
    font-size: 22px;
  }
