<div class="nav-bar-right">
  <ul class="menu">
    <li class="hide-for-small-only"><a routerLink="/pos">POS</a></li>
    <li class="hide-for-small-only"><a href="#">Logout</a></li>
    <li>
    <li>
      <button class="offcanvas-trigger" type="button" data-open="offCanvasRight">
        <span class="offcanvas-trigger-text hide-for-small-only">Management</span>
        <div class="hamburger">
          <span class="line"></span>
          <span class="line"></span>
          <span class="line"></span>
        </div>
      </button>
    </li>
  </ul>
</div>
