<div class="grid-x">
  <div class="cell large-auto">
    <app-menu *ngIf="hasSession"></app-menu>
    <div class="off-canvas-content" data-off-canvas-content>
      <div class="nav-bar">
        <div class="nav-bar-left">
          <a class="nav-bar-logo"><img class="logo" [src]="settings.banner"></a>
        </div>
        <app-nav *ngIf="hasSession"></app-nav>
      </div>
    </div>
    <div class="cell large-auto body-info">
      <app-login (changeHasSession)='setHasSession($event)' *ngIf="!hasSession"></app-login>
      <div class="content-area">
        <router-outlet></router-outlet>
      </div>
    </div>
    <div class="cell large-auto">
      <div class="cell large-auto footer">
          <small>Tel. (787) 814-3923 - eMail: toyoxpress@gmail.com - Software Version</small>
      </div>
    </div>
  </div>
</div>